pkgbase = wemeet-bin
	pkgdesc = Tencent Video Conferencing, tencent meeting 腾讯会议
	pkgver = 3.19.1.400
	pkgrel = 1
	url = https://source.meeting.qq.com/download-center.html
	arch = x86_64
	arch = aarch64
	license = unknown
	makedepends = patchelf
	depends = bash
	depends = qt5-webengine
	depends = qt5-x11extras
	depends = libxinerama
	depends = libpulse
	depends = gcc-libs
	depends = qt5-declarative
	depends = libglvnd
	depends = libxfixes
	depends = alsa-lib
	depends = qt5-webchannel
	depends = openssl
	depends = libxrandr
	depends = libxext
	depends = libx11
	depends = hicolor-icon-theme
	depends = glibc
	depends = zlib
	depends = libxcomposite
	depends = qt5-base
	depends = systemd-libs
	depends = libxdamage
	depends = qt5-svg
	optdepends = qt5-wayland: Wayland support
	optdepends = bubblewrap: Fix abnormal text color in dark mode and prevent messing files.
	provides = wemeet
	provides = tencent-meeting
	source = wemeet.sh
	source = wrap.c
	sha512sums = 6c4b8c37f1454b72a0aea2abc141d404c229749a44f4deee72bb5030d0509a721fac456db0888d1583dde1823036dc980e491b752d199aedfaa17264ed282ce1
	sha512sums = f98e9ae5842c05a19ad4f883c8f9d88ef3b64e04b034e7fd8b23ddca81510f0bd38688ad7c63ddf8badaa727a7b599ceede87419e9694c06d7a4b06138b94c15
	source_x86_64 = wemeet-3.19.1.400-x86_64.deb::https://updatecdn.meeting.qq.com/cos/fcdc2a010a25561a4d23e168b677b493/TencentMeeting_0300000000_3.19.1.400_x86_64_default.publish.deb
	sha512sums_x86_64 = 5b75fd92a9b3f477cebd791f43d2329e899befca790cc7f3c0970d7c07ad7390a835be91af710f19b5db5a65ab2763e51d1f4f36e222ce6889d7a68d64dce092
	source_aarch64 = wemeet-3.19.1.400-aarch64.deb::https://updatecdn.meeting.qq.com/cos/73805834f20680c804310bd0e80f269d/TencentMeeting_0300000000_3.19.1.400_arm64_default.publish.deb
	sha512sums_aarch64 = b37963ab911270a1630c1af5cda5a949f01f661f9b8133c3c5f6e241e7037ab7914b3ac69901b05d95edf742332d72494c3c211624622091460b3bbdcfb2b2f9

pkgname = wemeet-bin
