pkgbase = python-telethon
	pkgdesc = Full-featured Telegram client library for Python 3
	pkgver = 1.40.0
	pkgrel = 1
	url = https://github.com/LonamiWebs/Telethon
	arch = any
	license = MIT
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	depends = python-pyaes
	depends = python-rsa
	optdepends = python-cryptg: alternative crypto library
	optdepends = python-pysocks: socks proxy support
	optdepends = python-python-socks: socks proxy support
	optdepends = python-hachoir: parse media metadata for uploading
	optdepends = python-pillow: resize photos for uploading
	source = https://files.pythonhosted.org/packages/source/T/Telethon/telethon-1.40.0.tar.gz
	sha256sums = 40e83326877a2e68b754d4b6d0d1ca5ac924110045b039e02660f2d67add97db

pkgname = python-telethon
