pkgbase = cyberchef-web
	pkgdesc = The Cyber Swiss Army Knife - a web app for encryption, encoding, compression and data analysis
	pkgver = 10.18.8
	pkgrel = 1
	url = https://gchq.github.io/CyberChef/
	arch = any
	license = Apache-2.0
	makedepends = findutils
	makedepends = libarchive
	conflicts = cyberchef-html
	replaces = cyberchef-html
	noextract = cyberchef-web-10.18.8.zip
	options = !strip
	source = cyberchef-web-10.18.8.zip::https://github.com/gchq/CyberChef/releases/download/v10.18.8/CyberChef_v10.18.8.zip
	b2sums = afb3542fe5158be5ef945d96df6e0d8a53026383f33b4414baebb52d2223cf2f95241080f3c08025e9bc954c177eb58e71e4396c3ec1b1e161837340f39678bb

pkgname = cyberchef-web
