[Desktop Entry]
Name=SpeedyNote
Comment=Fast stylus note-taking app
Exec=speedynote
Icon=speedynote
Terminal=false
Type=Application
Categories=Utility;
