pkgbase = meanalyzer
	pkgdesc = Intel Engine & Graphics Firmware Analysis Tool
	pkgver = 1.307.0.r365
	pkgrel = 1
	url = https://github.com/platomav/MEAnalyzer
	arch = any
	license = BSD-2-Clause-Patent
	makedepends = dos2unix
	depends = python
	depends = python-colorama
	depends = python-crccheck
	depends = python-pltable
	conflicts = meanalyzer-git
	source = meanalyzer-1.307.0.r365.tar.gz::https://github.com/platomav/MEAnalyzer/archive/r365.tar.gz
	sha256sums = 09f55358eebea671e6a3b1e65796b5a3cd55927a888aafb5a8dee062f633915c

pkgname = meanalyzer
