pkgbase = serenity-bin
	pkgdesc = The configuration generator for sing-box
	pkgver = 1.0.0_beta.17
	pkgrel = 2
	url = https://github.com/SagerNet/serenity
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = custom:GPL-3.0-or-later WITH name use or association addition
	optdepends = sing-box
	provides = serenity
	conflicts = serenity
	conflicts = serenity-git
	backup = etc/serenity/config.json
	source = LICENSE::https://github.com/SagerNet/serenity/raw/dev/LICENSE
	sha256sums = 650d5e3b99a446fb38e820fa87a49562e0c79eab868fff58618ac487a58e554c
	source_i686 = serenity_1.0.0-beta.17_linux_i686.pkg.tar.zst::https://github.com/SagerNet/serenity/releases/download/v1.0.0-beta.17/serenity_1.0.0-beta.17_linux_386.pkg.tar.zst
	sha256sums_i686 = 0c3151ffafd0762ab94d8a731140b9aba8a945c87eea489d0dff3b2ac94a38ec
	source_x86_64 = serenity_1.0.0-beta.17_linux_x86_64.pkg.tar.zst::https://github.com/SagerNet/serenity/releases/download/v1.0.0-beta.17/serenity_1.0.0-beta.17_linux_amd64.pkg.tar.zst
	sha256sums_x86_64 = 2b8d157ef08dcb15e56ed6c4e910f44a60c12bcb2753648d98d11723fa6d1125
	source_aarch64 = serenity_1.0.0-beta.17_linux_aarch64.pkg.tar.zst::https://github.com/SagerNet/serenity/releases/download/v1.0.0-beta.17/serenity_1.0.0-beta.17_linux_arm64.pkg.tar.zst
	sha256sums_aarch64 = 79e808b5d2f66bbf4b59bd39398ee2aac79d2c310071f2026cab78e79c239172
	source_armv7h = serenity_1.0.0-beta.17_linux_armv7h.pkg.tar.zst::https://github.com/SagerNet/serenity/releases/download/v1.0.0-beta.17/serenity_1.0.0-beta.17_linux_armv7.pkg.tar.zst
	sha256sums_armv7h = 31bb2cae115260f101874b51ea65b3c9deadb826e71154402a2ac07363dfe459

pkgname = serenity-bin
