pkgbase = fscan
	pkgdesc = An intranet comprehensive scanning tool
	pkgver = 2.0.1
	pkgrel = 1
	url = https://github.com/shadow1ng/fscan
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = go
	depends = glibc
	source = fscan-2.0.1.tar.gz::https://github.com/shadow1ng/fscan/archive/2.0.1.tar.gz
	sha256sums = 0b244ef8601de66e4411634b9449bafdf6288ed6581aee2d25e1219f42b64a3e

pkgname = fscan
